/* Dropdown component css */
.selection-tag {
  margin: 20px;
  width: 200px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Navbar component css */
.navbar-outer-div {
  background: #161616;
  display: flex;
  align-items: center;
  padding-left: 20px !important;
  padding: 10px 0px;
  border-radius: 10px;
}
.w-10 {
  width: 10%;
}
.nav-btn {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.logo-btn {
  font-size: 22px;
  text-decoration: none;
  color: white;
}
.p-20 {
  padding: 20px;
}
.content {
  font-size: 16px;
  margin:10px 0px !important
}

.grid-container{
  margin:auto !important ;
  border-radius: 8px;
  background-color:#cfcfcf;
  padding:10px;
}
